<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gabriel Auclair" />
    <meta name="robots" content="none">
    <link rel="stylesheet" href="/css/css.css">

    <title>Ex. 6 Gabriel Auclair</title>
</head>