<!DOCTYPE html>
<html lang="fr">
<%- include('composants/head.ejs') %>

	<body>
		<%- include('composants/entete.ejs') %>
		<%- include('composants/adresses.ejs') %>
		<%- include('composants/footer.ejs') %>
	</body>
    <script type="text/javascript" src="js/modifier.js"></script>
</html>